# docker-compose.yaml
services:
  flask_app:
    build:
      context: .
      dockerfile: Dockerfile
    image: flask-image:1.0
    container_name: flask_app
    ports:
      - "5000:5000"
    restart: always